@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-yellow: #f4d04e;
    --color-white: #fff;
    --color-gray-500: #6b6b6b;
    --color-gray-950: #121212;
}

/* base */
html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Figtree", sans-serif;
    background: var(--color-yellow);
    color: var(--color-gray-950);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
}

/* Card */
.card {
    background: var(--color-white);
    padding: 2.4rem;
    width: 100%;
    max-width: 380px;
    min-width: 320px;
    border: 1px solid var(--color-gray-950);
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: 8px 8px var(--color-gray-950);
}

.card__img {
    border-radius: 1rem;
    margin-bottom: 2.4rem;
}

.flag {
    font-weight: 800;
    background: var(--color-yellow);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-radius: 0.4rem;
    margin-bottom: 1.4rem;
}

.card__date {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    line-height: 1.4rem;
    margin-bottom: 2.4rem;
}

.card__title {
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    font-weight: 800;
    margin-bottom: 2.4rem;
}

.card__title:hover {
    color: var(--color-yellow);
}

.card__details {
    color: var(--color-gray-500);
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    margin-bottom: 2.4rem;
}

.card__author {
    font-weight: 800;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.card__author img {
    width: 32px;
    height: 32px;
}